In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\DATA SCIENCE AND ML\Project\job_trend_predictor\data\processed\cleaned\cleaned_job_data.csv")
df.head()

,Title,Company,Experience,Salary,Location,Education,Star_Skills,Normal_Skills,Posted_Date,Last_Apply_Date,...,UG_Specialization,PG_Degree,PG_Specialization,Combined_Skills,Skill_Count,Department_Cleaned,Primary_Department,Department_Count,Scraped_At_Cleaned,Description_Cleaned
0,Data Scientist,Deutsche Bank,4 - 13 years,Not Disclosed,Pune,EducationUG:Any GraduatePG:Any Postgraduate,[],"['Data analysis', 'data science', 'Infrastruct...",2 days ago,09 Sep 2025,...,NaN,Not Required,NaN,"['Data Analysis', 'Data Science', 'Infrastruct...",8,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,The Deutsche India is seeking a talented Data ...
1,Data Scientist,Philips,6 - 11 years,Not Disclosed,Bengaluru,EducationUG:Any GraduatePG:Any Postgraduate,[],"['Data analysis', 'SAP', 'Analytical', 'Health...",2 days ago,25 Jul 2024,...,NaN,Not Required,NaN,"['Data Analysis', 'Sap', 'Analytical', 'Health...",10,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,Job Title Data Scientist Job Description Data ...
2,Data Scientist-Artificial Intelligence,IBM,3 - 7 years,Not Disclosed,Hyderabad,EducationUG:Any GraduatePG:Any Postgraduate,['data scientist'],"['python', 'ai solutions', 'ai frameworks', 'a...",Today,19 Aug 2025,...,NaN,Not Required,NaN,"['Data Scientist', 'Python', 'Ai Solutions', '...",19,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,"As an Associate Data Scientist at IBM, you wil..."
3,Data Scientist,Alstom,7 - 12 years,Not Disclosed,Bengaluru,EducationUG:Any GraduatePG:Any Postgraduate,['data scientist'],"['python', 'neural networks', 'ai', 'numpy', '...",2 days ago,09 Nov 2024,...,NaN,Not Required,NaN,"['Data Scientist', 'Python', 'Neural Networks'...",21,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,Your future role Take on a new challenge and a...
4,Data Scientist-Artificial Intelligence,IBM,3 - 7 years,Not Disclosed,Bengaluru,"EducationUG:Any GraduatePG:LLM in Law, Any Pos...",['data scientist'],"['kubernetes', 'python', 'ai solutions', 'ai',...",Today,19 Aug 2025,...,NaN,Not Required,NaN,"['Data Scientist', 'Kubernetes', 'Python', 'Ai...",21,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,Scale an existing RAG code base for a producti...

In [3]:
df.columns

Index(['Title', 'Company', 'Experience', 'Salary', 'Location', 'Education',
       'Star_Skills', 'Normal_Skills', 'Posted_Date', 'Last_Apply_Date',
       'Role', 'Industry Type', 'Department', 'Employment Type',
       'Role Category', 'Description', 'Job_URL', 'Scraped_At', 'Job_Type',
       'TItle_Cleaned', 'Company_Cleaned', 'Experience_Range',
       'Min_Experience', 'Max_Experience', 'Salary_Range', 'Min_Salary',
       'Max_Salary', 'Avg_Salary', 'Education_Cleaned', 'UG_Degree',
       'UG_Specialization', 'PG_Degree', 'PG_Specialization',
       'Combined_Skills', 'Skill_Count', 'Department_Cleaned',
       'Primary_Department', 'Department_Count', 'Scraped_At_Cleaned',
       'Description_Cleaned'],
      dtype='object')

In [4]:
df[df["Min_Experience"] == 0].shape

(2179, 40)

In [5]:
new_df = df[(df["Min_Experience"]>=0) & (df["Max_Experience"]<=6)]

In [6]:
new_df.head()

,Title,Company,Experience,Salary,Location,Education,Star_Skills,Normal_Skills,Posted_Date,Last_Apply_Date,...,UG_Specialization,PG_Degree,PG_Specialization,Combined_Skills,Skill_Count,Department_Cleaned,Primary_Department,Department_Count,Scraped_At_Cleaned,Description_Cleaned
13,Data Scientist,EXL,1 - 6 years,Not Disclosed,Gurugram,EducationUG:Any GraduatePG:Any Postgraduate,[],"['Data analysis', 'Excel', 'data science', 'Qu...",1 day ago,28 Nov 2025,...,NaN,Not Required,NaN,"['Data Analysis', 'Excel', 'Data Science', 'Qu...",10,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,Senior Data Scientists lead data analysis proj...
23,S&C Global Network-Consultant-Retail Specializ...,Accenture,2 - 6 years,Not Disclosed,Gurugram,EducationUG:Any GraduatePG:Any Postgraduate,"['python', 'machine learning', 'artificial int...","['algorithms', 'data manipulation', 'scala', '...",2 days ago,17 Nov 2025,...,NaN,Not Required,NaN,"['Python', 'Machine Learning', 'Artificial Int...",20,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,About The Role Job Title - Retail Specialized ...
32,Data Scientist - ML/NLP,Gartner for HR,4 - 6 years,Not Disclosed,Gurugram,EducationUG:Any GraduatePG:Any Postgraduate,[],"['Computer science', 'Product management', 'Cl...",2 days ago,05 Feb 2025,...,NaN,Not Required,NaN,"['Computer Science', 'Product Management', 'Cl...",10,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,About the role: This is a unique opportunity t...
33,Data Scientist,Reuters,3 - 5 years,Not Disclosed,Bengaluru,EducationUG:Any GraduatePG:Any Postgraduate,[],"['Computer science', 'Career development', 'da...",1 day ago,16 Jul 2024,...,NaN,Not Required,NaN,"['Computer Science', 'Career Development', 'Da...",10,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,"Summary: At Thomson Reuters, our strategic vis..."
35,Data Scientist - L3,Wipro,3 - 5 years,Not Disclosed,Bengaluru,EducationUG:Any GraduatePG:Any Postgraduate,['data science'],"['python', 'team management', 'natural languag...",6 days ago,31 Jan 2025,...,NaN,Not Required,NaN,"['Data Science', 'Python', 'Team Management', ...",15,"['Data Science', 'Analytics']",Data Science,2,2025-12-03,Job Description Role Purpose The purpose of th...

In [7]:
new_df.columns

Index(['Title', 'Company', 'Experience', 'Salary', 'Location', 'Education',
       'Star_Skills', 'Normal_Skills', 'Posted_Date', 'Last_Apply_Date',
       'Role', 'Industry Type', 'Department', 'Employment Type',
       'Role Category', 'Description', 'Job_URL', 'Scraped_At', 'Job_Type',
       'TItle_Cleaned', 'Company_Cleaned', 'Experience_Range',
       'Min_Experience', 'Max_Experience', 'Salary_Range', 'Min_Salary',
       'Max_Salary', 'Avg_Salary', 'Education_Cleaned', 'UG_Degree',
       'UG_Specialization', 'PG_Degree', 'PG_Specialization',
       'Combined_Skills', 'Skill_Count', 'Department_Cleaned',
       'Primary_Department', 'Department_Count', 'Scraped_At_Cleaned',
       'Description_Cleaned'],
      dtype='object')

In [8]:
new_df["Job_Type"]

13                Data Scientist
23                Data Scientist
32                Data Scientist
33                Data Scientist
35                Data Scientist
                  ...
14419    Ruby on Rails Developer
14420    Ruby on Rails Developer
14422    Ruby on Rails Developer
14423    Ruby on Rails Developer
14424    Ruby on Rails Developer
Name: Job_Type, Length: 7269, dtype: object

In [9]:
new_df["Company"].value_counts()

Company
Accenture                   1191
Wipro                        225
Capgemini                    109
Infosys                       70
IBM                           67
                            ...
Snapmint Credit Advisory       1
Spatial Guide                  1
Appscrip                       1
Voto Technologies              1
Apeejay Stya Group             1
Name: count, Length: 1261, dtype: int64

In [10]:
temp = {'Data Scientist': {'Frequency': 170},
 'Machine Learning Engineer': {'Frequency': 204},
 'Data Analyst': {'Frequency': 448},
 'Business Analyst': {'Frequency': 237},
 'AI Engineer': {'Frequency': 185},
 'Research Associate': {'Frequency': 550},
 'Data Engineer': {'Frequency': 352}}

values = temp.values()

In [31]:
def calculate_demand_score(data):
    weight = {
        "Job_Posting_Frequency": 0.4,
        "Trend_Direction": 0.3,
        "Skill_Diversity":0.15,
        "Experience_Fleibility":0.15
    }
    job_score_dict = {}
    max_freq = 0
    # calculating job posting frequency
    for domain in data.Job_Type.unique():
        freq = data[data["Job_Type"] == domain].shape[0]
        max_freq = max(max_freq , freq)
        job_score_dict[domain] = {"Frequency": freq}

    # normalizing against highest demand domain
    for domain in job_score_dict:
        score_part_relative_to_max_freq = job_score_dict[domain]["Frequency"]/max_freq
        score = round(score_part_relative_to_max_freq*10,2)
        job_score_dict[domain]["job_posting_score"] = score
   
    #    calculating trend_score
    current_month_data = data[data["Scraped_At_Cleaned"] >= '2026-01-01']
    previous_month_data = data[data["Scraped_At_Cleaned"] < '2026-01-01']

    for domain in data.Job_Type.unique():
        current_month_freq = current_month_data[current_month_data["Job_Type"] == domain].shape[0]
        previous_month_freq = previous_month_data[previous_month_data["Job_Type"] == domain].shape[0]
        if previous_month_freq == 0:
            trend_score = 10.0
        else:
            trend_change = (current_month_freq - previous_month_freq) / previous_month_freq
            trend_score = round(min(max(trend_change * 10, 0), 10),2)
        job_score_dict[domain]["trend_score"] = trend_score

    # skill diversity score
    unique_company_hiring_frequency = {}
    max_hiring_frequency = 0
    for domain in data.Job_Type.unique():
        frequency =  data[data["Job_Type"]==domain]["Company_Cleaned"].unique().shape[0]
        unique_company_hiring_frequency[domain] =frequency
        max_hiring_frequency = max(frequency, max_hiring_frequency)
    for domain in unique_company_hiring_frequency:
        relative_score = round((unique_company_hiring_frequency[domain]/max_hiring_frequency)*10,2)
        job_score_dict[domain]["Skill_diversity_score"]= relative_score
   
#    calculating experience flexibility score
    experience_score = {}
    # max_experience_frequency = data.shape[0]
    max_experience_frequency = df.shape[0]
    for domain in data.Job_Type.unique():
        freq=  data[data["Job_Type"]==domain].shape[0]
        experience_score[domain] = freq
    
    
    for domain in experience_score:
        relative_score = round((experience_score[domain]/max_experience_frequency)*10,2)
        job_score_dict[domain]["experience_flexibility_score"] = relative_score

    # calculating overall demand score
    for domain in job_score_dict:
        total_demand = job_score_dict[domain]['job_posting_score']*weight["Job_Posting_Frequency"] + job_score_dict[domain]["trend_score"]*weight["Trend_Direction"]+ job_score_dict[domain]["Skill_diversity_score"]*weight["Skill_Diversity"] + job_score_dict[domain]["experience_flexibility_score"]*weight['Experience_Fleibility']

        job_score_dict[domain]["demand_score"] = total_demand
    
    return job_score_dict


score = calculate_demand_score(new_df )
for domain in score:
    print(domain , score[domain]["demand_score"])

Data Scientist 1.9145
Machine Learning Engineer 2.367
Data Analyst 4.762499999999999
Business Analyst 2.474
AI Engineer 2.0825
Research Associate 5.269500000000001
Data Engineer 2.8430000000000004
Web Developer 5.294499999999999
Software Engineer 3.5215
DevOps Engineer 2.564
Technical Writer 2.299
Scrum Master 0.38
Python Developer 2.2015
Java Developer 0.7010000000000001
Ruby on Rails Developer 1.7735
Product Manager 1.5844999999999998
Project Manager 0.9209999999999999
UX Designer 2.338
Full Stack Developer 2.7865
Cloud Engineer 1.7
DevOps Specialist 1.465
Database Administrator 2.2710000000000004
Cybersecurity Analyst 2.2119999999999997
Network Engineer 2.0364999999999998
Systems Analyst 1.1820000000000002
IT Support Specialist 3.7585
Mobile App Developer 3.5130000000000003
Front End Developer 3.2505
Back End Developer 2.8064999999999998
QA Engineer 2.5095

#### Calculation of competition level

#### calculation of average salary

In [36]:
new_df.groupby("Job_Type").size()

Job_Type
AI Engineer                  185
Back End Developer           254
Business Analyst             237
Cloud Engineer               165
Cybersecurity Analyst        213
Data Analyst                 448
Data Engineer                352
Data Scientist               170
Database Administrator       239
DevOps Engineer              265
DevOps Specialist            124
Front End Developer          301
Full Stack Developer         221
IT Support Specialist        318
Java Developer                58
Machine Learning Engineer    204
Mobile App Developer         341
Network Engineer             193
Product Manager              135
Project Manager               72
Python Developer             181
QA Engineer                  217
Research Associate           550
Ruby on Rails Developer      185
Scrum Master                  28
Software Engineer            445
Systems Analyst              132
Technical Writer             233
UX Designer                  246
Web Developer                557
dtype: int64

In [55]:
def calculate_avaeage_saclary(data):
    data_grouped_by_domain = data.groupby("Job_Type")
    average_salary_dict = {}
    for domain, group in data_grouped_by_domain:
        # average_min_salary = group["Min_Salary"].mean()
        # average_max_salary = group["Max_Salary"].mean()
        filtered_group = group[(group["Min_Salary"] > 0) & (group["Max_Salary"] > 0)]
        average_min_salary = filtered_group["Min_Salary"].mean()
        average_max_salary = filtered_group["Max_Salary"].mean()
        average_salary_dict[domain] = {
            "Average_Min_Salary": round(average_min_salary, 2),
            "Average_Max_Salary": round(average_max_salary, 2)
        }
    return average_salary_dict
average_salary = calculate_avaeage_saclary(new_df)
print(average_salary)

{'AI Engineer': {'Average_Min_Salary': np.float64(5.95), 'Average_Max_Salary': np.float64(10.5)}, 'Back End Developer': {'Average_Min_Salary': np.float64(5.59), 'Average_Max_Salary': np.float64(8.87)}, 'Business Analyst': {'Average_Min_Salary': np.float64(4.95), 'Average_Max_Salary': np.float64(7.44)}, 'Cloud Engineer': {'Average_Min_Salary': np.float64(7.69), 'Average_Max_Salary': np.float64(12.91)}, 'Cybersecurity Analyst': {'Average_Min_Salary': np.float64(5.33), 'Average_Max_Salary': np.float64(8.0)}, 'Data Analyst': {'Average_Min_Salary': np.float64(3.32), 'Average_Max_Salary': np.float64(6.69)}, 'Data Engineer': {'Average_Min_Salary': np.float64(13.0), 'Average_Max_Salary': np.float64(23.8)}, 'Data Scientist': {'Average_Min_Salary': np.float64(16.67), 'Average_Max_Salary': np.float64(24.61)}, 'Database Administrator': {'Average_Min_Salary': np.float64(3.83), 'Average_Max_Salary': np.float64(6.58)}, 'DevOps Engineer': {'Average_Min_Salary': np.float64(9.12), 'Average_Max_Salary': np.float64(13.72)}, 'DevOps Specialist': {'Average_Min_Salary': np.float64(8.95), 'Average_Max_Salary': np.float64(13.86)}, 'Front End Developer': {'Average_Min_Salary': np.float64(4.76), 'Average_Max_Salary': np.float64(7.19)}, 'Full Stack Developer': {'Average_Min_Salary': np.float64(8.12), 'Average_Max_Salary': np.float64(12.88)}, 'IT Support Specialist': {'Average_Min_Salary': np.float64(2.17), 'Average_Max_Salary': np.float64(3.86)}, 'Java Developer': {'Average_Min_Salary': np.float64(3.9), 'Average_Max_Salary': np.float64(8.0)}, 'Machine Learning Engineer': {'Average_Min_Salary': np.float64(8.21), 'Average_Max_Salary': np.float64(12.36)}, 'Mobile App Developer': {'Average_Min_Salary': np.float64(2.63), 'Average_Max_Salary': np.float64(5.38)}, 'Network Engineer': {'Average_Min_Salary': np.float64(3.53), 'Average_Max_Salary': np.float64(5.64)}, 'Product Manager': {'Average_Min_Salary': np.float64(9.27), 'Average_Max_Salary': np.float64(14.0)}, 'Project Manager': {'Average_Min_Salary': np.float64(4.67), 'Average_Max_Salary': np.float64(8.09)}, 'Python Developer': {'Average_Min_Salary': np.float64(5.31), 'Average_Max_Salary': np.float64(9.39)}, 'QA Engineer': {'Average_Min_Salary': np.float64(4.89), 'Average_Max_Salary': np.float64(8.58)}, 'Research Associate': {'Average_Min_Salary': np.float64(2.52), 'Average_Max_Salary': np.float64(3.57)}, 'Ruby on Rails Developer': {'Average_Min_Salary': np.float64(6.0), 'Average_Max_Salary': np.float64(9.17)}, 'Scrum Master': {'Average_Min_Salary': np.float64(3.0), 'Average_Max_Salary': np.float64(8.0)}, 'Software Engineer': {'Average_Min_Salary': np.float64(3.8), 'Average_Max_Salary': np.float64(4.9)}, 'Systems Analyst': {'Average_Min_Salary': np.float64(2.8), 'Average_Max_Salary': np.float64(4.71)}, 'Technical Writer': {'Average_Min_Salary': np.float64(3.18), 'Average_Max_Salary': np.float64(5.2)}, 'UX Designer': {'Average_Min_Salary': np.float64(10.0), 'Average_Max_Salary': np.float64(14.33)}, 'Web Developer': {'Average_Min_Salary': np.float64(3.17), 'Average_Max_Salary': np.float64(6.01)}}

In [53]:
grouped = new_df.groupby("Job_Type")
# data_science_jobs = grouped.get_group('Data Scientist')

# display(data_science_jobs)

for domain ,group in grouped:
    print(domain)
    display(group.head())
    group = group[(group["Min_Salary"]>0) & (group["Max_Salary"]>0)]
    total_min_salary = group["Min_Salary"].sum()
    total_max_salary = group["Max_Salary"].sum()
    avg_min_salary = total_min_salary / group.shape[0]
    avg_max_salary = total_max_salary / group.shape[0]
    print("total_min_salary" , total_min_salary)
    print("total_max_salary" , total_max_salary)
    print("shape of group" , group.shape[0])
    print(f"Average Min Salary: {avg_min_salary}, Average Max Salary: {avg_max_salary}")
    break

AI Engineer

,Title,Company,Experience,Salary,Location,Education,Star_Skills,Normal_Skills,Posted_Date,Last_Apply_Date,...,UG_Specialization,PG_Degree,PG_Specialization,Combined_Skills,Skill_Count,Department_Cleaned,Primary_Department,Department_Count,Scraped_At_Cleaned,Description_Cleaned
291,Junior AI Engineer (India),Micro1,0 - 3 years,Not Disclosed,"Kolkata,Mumbai,New Delhi,Hyderabad,Pune,Chenna...",EducationUG:Any GraduatePG:LLM in Law,[],"['python', 'git', 'devops', 'microsoft azure',...",5 days ago,NaN,...,NaN,Not Required,NaN,"['Python', 'Git', 'Devops', 'Microsoft Azure',...",6,"['Engineering', 'Software Development', 'Quali...",Engineering,3,2025-12-07,We are looking for a highly motivated and tale...
292,Looking For Artificial Intelligence (AI) Engin...,Posted by Rapid Global Business Solutions Indi...,1 - 5 years,Not Disclosed,Bengaluru,"EducationUG:B.Tech/B.E. in Data Science, Artif...","['Agentic AI architectures', 'LLMs', 'AI engin...","['REST / FastAPI', 'APIS', 'LLaMA', 'GPT', 'An...",1 day ago,NaN,...,"Data Science, Artificial Intelligence, Artific...",NaN,NaN,"['Agentic Ai Architectures', 'Llms', 'Ai Engin...",20,"['Data Science', 'Analytics']",Data Science,2,2025-12-07,We are seeking a passionate and skilled AI Eng...
293,Jr AI Engineer,Newpage Digital Healthcare Solutions,0 - 2 years,3-5 Lacs P.A.,Bengaluru,EducationUG:B.Tech/B.E. in AIML,"['Artificial Intelligence', 'Natural Language ...",[],5 days ago,23 and 2024,...,AIML,NaN,NaN,"['Artificial Intelligence', 'Natural Language ...",3,"['Engineering', 'Software Development', 'Quali...",Engineering,3,2025-12-07,JUNIOR/INTERN AI DEVELOPER Location: Bangalore...
299,Agentic AI Engineer,Siemens,1 - 5 years,Not Disclosed,Bengaluru,EducationUG:B.Tech/B.E. in Any SpecializationP...,['ai engineer'],"['kubernetes', 'rest', 'python', 'github', 'cl...",6 days ago,17 Sep 2025,...,NaN,Not Required,NaN,"['Ai Engineer', 'Kubernetes', 'Rest', 'Python'...",22,"['Engineering', 'Software Development', 'Quali...",Engineering,3,2025-12-07,We are looking for Agentic AI Engineer . Befor...
307,Lead AI Engineer,Ecolab Life Sciences,2 - 6 years,Not Disclosed,Bengaluru,EducationUG:Any GraduatePG:Any Postgraduate,[],"['Change management', 'github', 'devops', 'Mac...",5 days ago,10 Oct 2025,...,NaN,Not Required,NaN,"['Change Management', 'GitHub', 'Devops', 'Mac...",10,"['Data Science', 'Analytics']",Data Science,2,2025-12-07,"About the Role You ll lead the architecture, d..."

total_min_salary 131.0
total_max_salary 231.0
shape of group 22
Average Min Salary: 5.954545454545454, Average Max Salary: 10.5

#### calculate job_opening last 30 days

In [ ]:
def calculate_average_joob_openings(data):
    grouped = data.groupby("Job_Type")
    average_openings_dict = {}
    average_openings = 3 # assumed average openings per job posting
    for domain, group in grouped:
        # total_openings = group["Number_of_Openings"].sum()  # feature is not present in dataset
        total_openings = group.shape[0] * average_openings
        average_openings = total_openings / group.shape[0]
        average_openings_dict[domain] = round(average_openings, 2)
    return average_openings_dict


average_openings = calculate_average_joob_openings(new_df)
print(average_openings)

{'AI Engineer': 3.0, 'Back End Developer': 3.0, 'Business Analyst': 3.0, 'Cloud Engineer': 3.0, 'Cybersecurity Analyst': 3.0, 'Data Analyst': 3.0, 'Data Engineer': 3.0, 'Data Scientist': 3.0, 'Database Administrator': 3.0, 'DevOps Engineer': 3.0, 'DevOps Specialist': 3.0, 'Front End Developer': 3.0, 'Full Stack Developer': 3.0, 'IT Support Specialist': 3.0, 'Java Developer': 3.0, 'Machine Learning Engineer': 3.0, 'Mobile App Developer': 3.0, 'Network Engineer': 3.0, 'Product Manager': 3.0, 'Project Manager': 3.0, 'Python Developer': 3.0, 'QA Engineer': 3.0, 'Research Associate': 3.0, 'Ruby on Rails Developer': 3.0, 'Scrum Master': 3.0, 'Software Engineer': 3.0, 'Systems Analyst': 3.0, 'Technical Writer': 3.0, 'UX Designer': 3.0, 'Web Developer': 3.0}